{% extends 'base.html' %}

{% block title %}
    Post Details
{% endblock title %}

{% block content %}
    <div>
        <h1>Title: {{ detailed.title }}</h1>
        <h4>Subtitle: {{ detailed.subtitle }}</h4>
        <p>Body: {{ detailed.body }}</p>
        <span>Published On: {{ detailed.created_on }}</span>
        <span>User: {{ detailed.author }}</span>
        <br>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
{% endblock content %}