{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
<div class="home-container">
    <h1>Welcome to My Blog</h1>
    <p class="home-description">Share your thoughts, stories, and ideas with the world!</p>
    <div class="home-cta">
        <a href="{% url 'posts_list' %}">Browse Posts</a>
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}">Create Post</a>
        {% else %}
            <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </div>
</div>
{% endblock content %}